<h2>Forgot your password?</h2>
<hr>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-horizontal', method: :post }) do |f| %>
<%= devise_error_messages! %>

<div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Send me reset password instructions" ,class: 'btn btn-primary'%>
    </div>

</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <%= render "devise/shared/links" %>
    </div>
</div>
<% end %>